<% provide(:title, "Help") %>

<div class="w3-content w3-container w3-padding-64">
    
    <h1 class="w3-center">NEED HELP?</h1> 

<p>If you need help please use the following contact details:</p>

<p>Phone: 086 1234567</p>
<p>Email: kevin@kevinsphoneshop.com</p>
<p>Fax: 061 963852</p>

</div>

