<% provide(:title, "Home") %>

<div class="w3-content w3-container w3-padding-64">
    
<h1 class="w3-center">WELCOME</h1>    
    <div class="w3-row w3-padding-32 w3-section">
        
         <div class="w3-col m4 w3-container">
    
<%= image_tag("phoneHome.jpg", alt: "Welcome Logo", :class => "smallerImgs") %>  
    </div>
    
        <div class="w3-col m8 w3-panel">
    

<p>Welcome to KEVINS PHONE STORE!</p>
<br>
<p>KEVINS PHONE STORE is a mobile phone shop in Limerick  providing phone repair and phone unlocking in their Limerick Mobile Phone Store.
As qualified phone technicians in Limerick, KEVINS PHONE STORE can repair all makes of mobile phones and most phone repairs are guaranteed.</p>

        </div

    </div>
</div>
